{;:lein true ; => ignores :dependencies, :source-paths
 :source-paths ["src-clj"]
 :dependencies [[reagent "0.8.1" :exclusions [cljsjs/react]]
                [reagent-forms "0.5.43"]
                [reagent-utils "0.3.1"]]
 ;:nrepl {:init-ns shadow.user} ; the ns to start in
 :builds {:app {;:target :npm-module :output-dir "compiled/"
                :output-dir "target/"
                :target :npm-module
                :modules {:shared {:entries []}
                          :main {:entries [app.main] :depends-on #{:shared}}
                          :brand {:entries [app.templates.brand] :depends-on #{:shared}}}
                :devtools {;:after-load app.main/reload!
                           :http-root "target"
                           :http-port 8080}}}}
